<script>
    import Button from '../ui/Button/Button.vue'
    import Input from '../ui/Input/Input.vue'
    import EditClientModal from './EditClientModal.vue'

    export default {
        components: {
            'c-btn': Button,
            'c-input': Input,
            EditClientModal
        },
        data() {
            return {
                showModal: false
            }
        },
        computed: {
            modalName() {
                return this.$store.state.modal.name
            }
        },
        methods: {
            close() {
                this.$store.commit('SET_MODAL_NAME', '')
            }
        }
    }
</script>

<template>
    <div>
        <div class="c-modal">
            <h1>modal</h1>
            <component :is="modalName"/>
        </div>
    </div>
</template>

<style scoped>
    .c-modal__overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(186, 169, 191, 0.63);
        z-index: 10;
    }

    .c-modal {
        position: absolute;
        max-width: 500px;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        top: 50%;
        background-color: white;
        overflow: auto;
        max-height: 400px;
        padding: 50px 20px;
        box-shadow: 0px 3px 5px #ccc;
    }
</style>