<script>
    import {mapState} from 'vuex'
    import Card from '../Card.vue'

    export default {
        components: {
            'c-card': Card
        },
        data() {
            return {
                processing: false
            }
        },
        computed: {
            ...mapState({
                clients: state => state.clients.list
            })
        }
    };
</script>


<template>
    <div class="container">
        <ul v-if="clients.length"
            class="clients-list">
            <c-card v-for="(client, index) in clients"
                    :key="index"
                    :client="client"/>
        </ul>
        <p v-else> Записей нет :(</p>
    </div>
</template>
