<script>
    export default {
        name: 'c-input',
        props: {
            value: {
                type: [Number, String],
                require: false,
                default: ''
            },
            type: {
                type: String,
                require: false,
                default: 'text'
            },
            placeholder: {
                type: String,
                require: false,
                default: ''
            },
            required: {
                type: Boolean,
                require: false,
                default: false
            },
            label: {
                type: String,
                require: false,
                default: 'asd'
            },
            disabled: {
                type: Boolean,
                require: false,
                default: false
            }
        }
    }
</script>

<template>
    <div class="c-input-wrapper">
        <label class="c-input__label">
            {{ label }}
        <input class="c-input"
               :class="{'c-input_disabled': disabled}"
               :value="value"
               @input="$emit('input', $event.target.value)"
               :type="type"
               :placeholder="placeholder"
               :required="required"
               :disabled="disabled">
        </label>
    </div>
</template>

<style src="./input.scss" lang="scss" scoped>

</style>